.NavBar{
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav{
    right: 10px;
    flex-direction: row;
}

.NavBar .NavBar-link{
    text-decoration: none;
    background-color: #1c1c1c;
    padding: 6px;
    margin: 6px;
    color: white;
}

.NavBar-link{
    flex-direction: row;
    background-color: blueviolet;
}


.NavBar-link-user{
    display: flex;
    flex-direction: column;
    margin-right: 10px;

}

.Logo{
    color: rgb(8, 181, 181);
    padding: 10px;
    font-size: 2.4em;
    justify-content: flex-start;
    margin-left: 10px;
}


.KiwiNewsContainer{
    margin: 10px;
    display: flex;
    justify-content: center;
}


.KiwiNewsText p{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.3em;
    letter-spacing: 4px;
}