.NavBar{
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav{
    right: 10px;
    flex-direction: row;
}

.NavBar .NavBar-link{
    text-decoration: none;
    background-color: #1c1c1c;
    padding: 6px;
    margin: 6px;
    color: white;
}

.NavBar-link{
    flex-direction: row;
    /* background-color: blueviolet; */
}


.NavBar-link-user{
    display: flex;
    flex-direction: column;
    margin-right: 10px;

}

.Logo{
    color: rgb(8, 181, 181);
    padding: 10px;
    font-size: 2.4em;
    justify-content: flex-start;
    margin-left: 10px;
}


.KiwiNewsContainer{
    margin: 10px;
    display: flex;
    justify-content: center;
}


.KiwiNewsText p{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.3em;
    letter-spacing: 4px;
}


.locale{
    width: 119px;
    height: 52px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(8, 181, 181);
}

.weather{
    background-color: rgb(8, 181, 181);
    width: 119px;
    height: 26px;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
}
.temp{
    display: flex;
    align-content: center;
    width: 40px;
    height: 26px;
    color: white;
    font-size: 1.25em;
    margin-top: 5px;
}
.icon{
    width: 42px;
    height: 42px;
    margin-top: 5px;
}

.icon img{
    width: 42px;
    height: 42px;
}
.time{
    width: 119px;
    height: 18px;
    text-align: center;
    color: white;
}
