.NavBar{
    background-color: #1c1c1c;
    display: flex;
    /* justify-content: flex-end; */
    align-items: baseline;
    flex-direction: row;
    
}
.nav{
    right: 10px;
    flex-direction: row;
}

.NavBar .NavBar-link{
    text-decoration: none;
    background-color: #1c1c1c;
    padding: 6px;
    margin: 6px;
    color: white;
    display: flex;
}

.NavBar-link{
    flex-direction: row;
}


.NavBar .NavBar-link-user{
    flex-direction: row;
}

.Logo{
    color: rgb(8, 181, 181);
    padding: 10px;
    font-size: 1.9em;
    justify-content: flex-start;
    left: 5px;
}