
*{
  font-family: 'Roboto', sans-serif;
}
.App-header {
  background-color: #328980;
  min-height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #09d3ac;
} 

.title{
  width: 37.5vmin;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: calc(2.7px + 1.6vmin);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.title p{
  text-decoration: none!important;
  color: black;
}

.img-container{
  width: 37.5vmin;
  height: 24.75vmin;
}
.img-container img{
  width: 37.5vmin;
  height: 24.75vmin;
}
.marquee3k .marquee3k__copy {
  padding-right: 30px;
  box-sizing: border-box;
}

.marquee3k{
  background-color: #1c1c1c;
  font-weight: bold;
  color: rgb(155, 155, 155);
  position: fixed;
  bottom: 0;
}

.news-square{
  display: flex;
  width: 37.5vmin;
  height: 37.5vmin;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transition: all .3s;

}
.news-square:hover{
  transform: scale(1.02);
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,.15);
}
a {
  text-decoration:none;
}
.articles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.ArticlesContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 50px;
  justify-content: center;
}

.title p{
  padding: 10px;
  margin: 5px;
}
.title{
  
}



@media screen and (max-width: 560px){

  .news-square{
    width: 74.8vmin;
    height: 74.8vmin;
  }

  .img-container{
    width: 74.8vmin;
    height: 57.9vmin;
  }
  .img-container img{
    width: 74.8vmin;
    height: 57.9vmin;
  }

  .title{
    width: 74.8vmin;
    font-size: calc(2.7px + 2.4vmin);
  }
  .title p{
    padding: 0px 3px;
    margin: 0px 3px;
  }

}