.HomeViewContainer{
    height: 36vmax;
    width: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    padding: 20px;
    padding-bottom: 50px;
    display: flex;
}

.ContainerContainerContainer{
    border-bottom: 50px solid #1c1c1c;
    border-top: 50px solid #1c1c1c;
    display: flex;
    justify-content: center;
    background-color: #1c1c1c;
}

.TextContainer{
    width: 100%;
    background-color: #1c1c1c94;
    display: flex;
    justify-content: center;
}

.TextContainer p{
    width: 40vmin;
    color: white;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2.5px 2.5px 2px #1c1c1cf0;
    max-width: 400px;
}



