.HomeViewContainer{
    height: 50vmax;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1c1c1c;
    padding: 20px;
    padding-bottom: 50px;
    display: flex;
}

.ContainerContainerContainer{
    border-bottom: 50px solid #1c1c1c;
    border-top: 50px solid #1c1c1c;
}

.TextContainer{
    width: 100%;
}

.TextContainer p{
    width: 35vmin;
    color: white;
    text-align: center;
}



